body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
  overflow: hidden;
}

.input-handle .react-flow__handle {
  /* position: absolute; */
  min-width: 10px;
  min-height: 10px;
  background-color: #333;
}

.eth-build-handle.react-flow__handle {
  position: static;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #333;
  transition: all 0.25s ease;
  transform: scale(1);
}

.eth-build-handle.react-flow__handle:hover {
  background-color: green;
  transform: translate(0%, 0%) scale(2);
}
