.base-node {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; /* Remove quotes */
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 150px;
  min-height: 50px;
}

.base-node label {
  justify-self: start;
  color: black;
  font-size: 12px;
}

/* .base-node .node-inputs { */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: space-between; */
/*     min-height: 50px; */
/* } */

.input-handle .react-flow__handle {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #333;
}

.output-handle .react-flow__handle {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #333;
}

  /* height: 50px; */
  /* min-width: 100px; */
  /* border: 1px solid #eee; */
  /* padding: 5px; */
  /* border-radius: 5px; */
  /* background: white; */
